In [1]:
import datetime as dt
from datetime import datetime
import time
import numpy as np
import pandas as pd

In [2]:
csv_file = "201909-citibike-tripdata.csv"
Sep_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
count_nan = len(Sep_data) - Sep_data.count()
count_nan
sepdata=Sep_data.dropna()

In [3]:
csv_file = "201908-citibike-tripdata.csv"
Aug_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
count_nan1 = len(Aug_data) - Aug_data.count()
count_nan1
augdata=Aug_data.dropna()

In [4]:
csv_file = "201907-citibike-tripdata.csv"
Jul_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
count_nan2 = len(Jul_data) - Jul_data.count()
count_nan2
juldata= Jul_data.dropna()

In [5]:
combined_data = juldata
combined_data.count()

tripduration               2181010
starttime                  2181010
stoptime                   2181010
start station id           2181010
start station name         2181010
start station latitude     2181010
start station longitude    2181010
end station id             2181010
end station name           2181010
end station latitude       2181010
end station longitude      2181010
bikeid                     2181010
usertype                   2181010
birth year                 2181010
gender                     2181010
dtype: int64

In [6]:
cumdata=combined_data.append(augdata)
cumdata.count()

tripduration               4525145
starttime                  4525145
stoptime                   4525145
start station id           4525145
start station name         4525145
start station latitude     4525145
start station longitude    4525145
end station id             4525145
end station name           4525145
end station latitude       4525145
end station longitude      4525145
bikeid                     4525145
usertype                   4525145
birth year                 4525145
gender                     4525145
dtype: int64

In [7]:
finaldata=cumdata.append(sepdata)
finaldata.count()

tripduration               6970045
starttime                  6970045
stoptime                   6970045
start station id           6970045
start station name         6970045
start station latitude     6970045
start station longitude    6970045
end station id             6970045
end station name           6970045
end station latitude       6970045
end station longitude      6970045
bikeid                     6970045
usertype                   6970045
birth year                 6970045
gender                     6970045
dtype: int64

In [8]:
finaldata.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [9]:
finaldata.gender.value_counts()

1    4583305
2    1759205
0     627535
Name: gender, dtype: int64

In [10]:
finaldata['gender'] = np.where(finaldata['gender'] == 0, "Unknown",finaldata['gender'])

In [11]:
finaldata.gender.value_counts()

1          4583305
2          1759205
Unknown     627535
Name: gender, dtype: int64

In [12]:
finaldata['gender'].mask(finaldata['gender'] == '1', 'Male', inplace=True)

In [13]:
finaldata['gender'].mask(finaldata['gender'] == '2', 'Female', inplace=True)

In [14]:
finaldata.gender.value_counts()

Male       4583305
Female     1759205
Unknown     627535
Name: gender, dtype: int64

In [15]:
finaldata.to_csv("2019_Jul_Sep.csv",encoding='utf-8')

In [16]:
csv_file = "201809-citibike-tripdata.csv"
Sep18_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
count_nan = len(Sep18_data) - Sep18_data.count()
count_nan
sep18data=Sep18_data.dropna()
sep18data.count()

tripduration               1877168
starttime                  1877168
stoptime                   1877168
start station id           1877168
start station name         1877168
start station latitude     1877168
start station longitude    1877168
end station id             1877168
end station name           1877168
end station latitude       1877168
end station longitude      1877168
bikeid                     1877168
usertype                   1877168
birth year                 1877168
gender                     1877168
dtype: int64

In [17]:
csv_file = "201808-citibike-tripdata.csv"
Aug18_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
aug18data=Aug18_data.dropna()
aug18data.count()

tripduration               1975789
starttime                  1975789
stoptime                   1975789
start station id           1975789
start station name         1975789
start station latitude     1975789
start station longitude    1975789
end station id             1975789
end station name           1975789
end station latitude       1975789
end station longitude      1975789
bikeid                     1975789
usertype                   1975789
birth year                 1975789
gender                     1975789
dtype: int64

In [18]:
csv_file = "201807-citibike-tripdata.csv"
Jul18_data = pd.read_csv(csv_file, encoding ="ISO-8859-1")
jul18data=Jul18_data.dropna()
jul18data.count()

tripduration               1913625
starttime                  1913625
stoptime                   1913625
start station id           1913625
start station name         1913625
start station latitude     1913625
start station longitude    1913625
end station id             1913625
end station name           1913625
end station latitude       1913625
end station longitude      1913625
bikeid                     1913625
usertype                   1913625
birth year                 1913625
gender                     1913625
dtype: int64

In [29]:
q320181=jul18data

In [20]:
q320182=q320181.append(aug18data)

In [21]:
q320183=q320182.append(sep18data)

In [22]:
q320183.count()

tripduration               5766582
starttime                  5766582
stoptime                   5766582
start station id           5766582
start station name         5766582
start station latitude     5766582
start station longitude    5766582
end station id             5766582
end station name           5766582
end station latitude       5766582
end station longitude      5766582
bikeid                     5766582
usertype                   5766582
birth year                 5766582
gender                     5766582
dtype: int64

In [23]:
q320183['gender'].mask(q320183['gender'] == 2, 'Female', inplace=True)

In [24]:
q320183['gender'].mask(q320183['gender'] == 1, 'Male', inplace=True)

In [25]:
q320183['gender'].mask(q320183['gender'] == 0, 'Unknown', inplace=True)

In [26]:
q320183.gender.value_counts()

Male       3778404
Female     1398754
Unknown     589424
Name: gender, dtype: int64

In [27]:
q320183.to_csv("2018_Jul_Sep.csv",encoding='utf-8')

In [28]:
q3_2018_2019 = q320183

In [31]:
df = q3_2018_2019.append(finaldata)

In [33]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [34]:
df['birth year'].value_counts()

1969    1306871
1989     538326
1990     537502
1988     520224
1991     511942
1992     495971
1987     465102
1993     459582
1986     436179
1985     422071
1994     396993
1984     386098
1983     349791
1982     334657
1995     322432
1981     305175
1980     284890
1979     259375
1978     226446
1977     215403
1976     213502
1975     205605
1996     203710
1970     198724
1974     190210
1971     185965
1973     183719
1972     180506
1968     166906
1967     165278
         ...
1912        187
1895        175
1928        172
1917        168
1931        154
1896        133
1893        123
1918        121
1910        115
1921        103
1899        102
1919         89
1911         89
1929         82
1909         79
1915         45
1894         28
1907         24
1913         17
1926         17
1922         16
1904          9
1927          9
1897          8
1920          7
1906          3
1916          3
1891          2
1874          2
1905          1
Name: birth year, Length: 113, dtype: int64

In [42]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,Male
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,Male
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,Female
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,Male
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,Male

In [43]:
df = df.drop(df[df['birth year'] < 1925].index)

In [45]:
df['birth year'].value_counts()

1969    1303484
1989     536967
1990     536082
1988     518826
1991     510603
1992     494640
1987     463912
1993     458424
1986     435058
1985     420936
1994     395981
1984     385065
1983     348870
1982     333742
1995     321568
1981     304408
1980     284231
1979     258717
1978     225865
1977     214842
1976     212954
1975     205039
1996     203213
1970     198213
1974     189690
1971     185471
1973     183214
1972     180038
1968     166484
1967     164839
         ...
2001      32772
1952      28997
1951      27644
1950      20527
1949      17339
1947      15614
1948      15611
2002      13447
1946      10756
1945       6826
1942       5315
1944       5193
1943       4685
2003       4478
1941       4016
1940       3196
1937       1593
1939       1213
1936       1161
1935        979
1932        872
1938        826
1934        427
1930        413
1933        340
1928        171
1931        154
1929         82
1926         17
1927          9
Name: birth year, Length: 78, dtype: int64

In [46]:
df.to_csv("2018_2019_Jul_Sep.csv",encoding='utf-8')